<!doctype html>
<html>
<head>
  <title>Termlio</title>
  <meta name="description"/>
  <link rel="stylesheet" href="//securendn.a.ssl.fastly.net/newpanel/css/singlepage.css"/>
</head>
<body>
  <div class="page page-comingsoon">
    <h1>This is awkward.</h1>
    <p>You've managed to venture off the recommended path!<p>
      <p>Click <a href="/">here</a> to go somewhere
    pretty, or if you think there should be something here, send us an email at support@terml.io.</p>
  </div>
  <img src="../static/termlio-logo.png"></img>
</body>
</html>
