{% extends "layout.html" %}
{% block body %}
<h2>Help</h2>

<br>

<h4>How do I create a set?</h4>
<p>    From any page on Terml.io, click the "Sets" menu item at the top of the
page. This will open a dropdown menu, allowing you to choose "Create Set." From
here, you can either copy and paste the terms or type them in, each separated by
a new line, then click define. Your set will be automatically saved and is
accessible through "Review Sets," under the same dropdown item.</p>

<br>

<h4>How can I delete a set?</h4>
<p>     To delete a set, go to the review page and find the title of the set
  that you would like to delete. To the right of the title, click on the grey
  remove icon, which will delete the set.</p>

<br>

<h4>How do I change my password?</h4>
<p>You may change your password through your account settings (Click your username
in the top right corner, then click account). If you have forgotten your password,
click the "Forgot password" link when signing in. You will receive an email with
a temporary password you can use to login and reset it.</p>

<br />

<h4>How am I allowed to use these set definitions?</h4>

<p>Terml.io grants you permission to copy our definitions for educational use, through the
license we are required to use from Wikipedia. If you edit our definitions and share with
any reference to Terml.io, you must clearly state the definitions were edited and do not
reflect Terml.io's original definitions. You may read more about this in our
<a href="termsofservice">Terms of Service</a>.</p>

<br />

<h4>I got a message saying "This is awkward." What should I do?</h4>

<p>The page either doesn't exist, or you have found a bug (something that is wrong
with our software). We may not know about this bug, so we recommend you contact
us at <a href="mailto:support@terml.io">support@terml.io</a> as soon as possible.
Please be sure to include the steps that you took that would reach this, as well as
the ability to replicate this issue.</p>

<p>Please note that intentionally exploiting our bugs is against our Terms of Service
and will most likely result in a lifetime ban from our services and our
associates' services.</p>

<br />

<h4>I accidentally deleted a set. Is there a way to bring it back?</h4>

<p>Unfortunately, there is no way to bring back a lost set as of right now.</p>

<br />

<h4>Can I get Terml.io Premium for free?</h4>

<p>Terml.io Premium users pay money for a special set of features. This money
is intended for the upkeep and development costs of Terml.io. At this time,
these features are not for free, because Terml.io is dedicated to your
education and development of the website.</p>

<br />

<h4>How many sets can I store?</h4>

<p>You may store an unlimited amount of sets.</p>

<br />

<h4>I am interested in developing for Terml.io.</h4>

<p>Terml.io is open source, so checkout our GitHub repo for more information!</p>

{% endblock %}
