{% extends "layout.html" %}
{% block body %}
<h2>Learn more</h2>
<br>

<h4>What is Terml.io?</h4>
<p>    Terml.io is a service that automatically retrieves definitions for all
of your terms, minimizing the hassle it takes for you to look them up yourself.
According to a survey done during the development of Terml.io, potential customers
reported it takes them 8 hours and 20 minutes to do 100 flashcards at 5 minutes per
card - 3 minutes to find the definition and 2 minutes to write it down. By using
Terml.io, it would get rid of that 3 minute period and save 5 hours per 100 flashcards.</p>

<br />

<h4>How does it work?</h4>
<p>     Sign up and create your account,
and go to create your cards! Create a set title, copy and paste the terms into the text
area and click define. Your definitions will be retrieved and displayed in moments. You
can review these definitions any time you'd like under the Review tab.</p>

<br />

<h4>How much does it cost?</h4>
<p>     Terml.io is available at no cost. We believe in providing students with the materials
    necessary for them to excel in their learning environment.</p>

<br />

<small>View our Terms of Service and Privacy Policy <a href="/termsofservice">here</a>.</small>

{% endblock %}
