{% extends "layout.html" %}
{% block body %}
<h2>Meet the Team</h2>
<h3>Justin Potts - Founder and CEO</h3>
<p>Justin works on developing all parts of Terml.io, along with some help from
  a few friends. Hecreated Terml.io as a Junior in High School while studying for his
  AP US History Exam. He is looking forward to seeing how much a difference
  Terml.io can make in students' study habits.<p>

  <p>Justin started programming in middle school with his dad, learning Python. Later,
    he took online coding courses on <a href="codecademy.com">Codecademy</a> in JavaScript,
    then continued his pursuit of Python even more. Today, he codes primarily in Python,
    volunteering as a core contributor to Mozilla's QA Team when not developing Terml.io.</p>
{% endblock %}
